body {
  margin: 0;
  font-family: "Open Sans"; }

h2 {
  margin-bottom: 0;
  font-family: Raleway;
  font-size: 34px;
  text-align: center;
  letter-spacing: 3px; }

hr {
  margin: 30px auto;
  width: 65px; }

.clearfix {
  content: "";
  clear: both;
  display: table; }

.testimonials-content {
  width: 1170px;
  margin: 0 auto;
  padding: 105px 0 95px; }

.testimonials-content hr {
  border: none;
  color: #ff8b38;
  background-color: #ff8b38;
  height: 2px; }

.section-description {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #86878b; }

.reviews {
  margin-top: 60px; }

.review-block {
  width: 25%;
  margin: 0 60px;
  float: left;
  font-size: 14px; }

.review-block:first-child {
  margin-left: 0; }

.review-block:last-child {
  margin-right: 0; }

.review-text {
  padding: 15px;
  position: relative;
  background-color: #f5f5f5;
  font-style: italic;
  color: #86878b; }

.review-text::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -30px;
  border: 10px solid transparent;
  border-top: 20px solid #f5f5f5; }

.reviewer {
  margin-top: 30px; }

.reviewer img {
  float: left; }

.reviewer-info {
  padding: 15px;
  float: left; }

.reviewer-name {
  margin: 0;
  font-size: 20px;
  font-weight: bold; }

.reviewer-profession {
  margin: 0;
  color: #86878b; }

.custom-content {
  width: 1170px;
  margin: 0 auto;
  padding: 75px 0 65px;
  text-align: center;
  color: white; }

.custom-content .section-description {
  font-family: Raleway;
  font-weight: lighter;
  color: white; }

.custom {
  background: url(img/custom-background.png) no-repeat;
  background-size: cover; }

.download {
  position: relative;
  left: calc(50% - 70px);
  margin-top: 35px;
  padding: 10px 30px;
  border: 2px solid white; }

.download a {
  text-decoration: none;
  color: white; }

/*# sourceMappingURL=style.css.map */
